/* CSS Reset Code */

/* Intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
}

/* Add line-height and text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Project Styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

body {
font-family: 'Poppins', sans-serif;
}


/* Styling for the Header parent and child elements */

.site-header {
display: flex;
justify-content: space-between;
align-items: center; 
padding: 2rem 5%;
max-width: 1200px;
margin: 0 auto;
}

.site-header img {
max-width: 100%;
height: auto;
}

.site-header nav a {
margin-inline: 2rem;
text-decoration: none;
color: darkgray; 
}

.auth-links {
display: flex;
gap: 1rem;
}

.auth-links a {
text-decoration: none; 
color: darkgray;
}

/* Hero Section Styling */
.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 80px 20px;
}

.hero-content { max-width: 500px; width: 100%}
.hero-content h1 {max-width: 14ch; margin-bottom: 0.5rem;}
.hero-content button:hover { margin-top: 0.75rem;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
  font-weight: 700;
}



/* Shortener Section Styling */

.shortener {
  background-image: url("./images/bg-shorten-desktop.svg");
  background-repeat: no-repeat; background-size: cover;  
  background-color: hsl(257, 27%, 26%);
  padding: 30px;
  border-radius: 10px;
  max-width: 900px;
  margin: -80px auto 60px;
  display: flex; 
  justify-content: center;
}

.shortener-form {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex: 1;
  align-items: center;
  max-width: 600px;
}

.shortener-form input {
padding: 0.75rem 1rem; border-radius: 5 px; border: none;    
flex: 1;}

.shortener-form button:hover {
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
  font-weight: 700;
}





/* Boost Section Styling */

.boost-links button:hover {
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: hsl(180, 66%, 49%);
  color: white;
  font-weight: 700;
}
